@charset "UTF-8";

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 64px 0;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.works_detail {
	color: #777;
}

.works_detail h3, h4, h5 {
	color: #212529;
}

.works_detail_info {
	color: #777;
	margin: 12px 0 12px 2em;
}

.works_detail_info p {
	margin-bottom: 0;
}

.works_detail_info i {
	margin-right: 0.5em;
}

.works_detail_info span {
	display: inline-block;
	width: 7em;
}

.works_detail .works-link_area {
	padding-bottom: 24px;
	border-bottom: 2px dotted #888;
}

.works_detail .works-link {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 2em;
	display: table;
}

.works_detail .works-link p {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	margin-right: 12px;

	display: inline-block;
	vertical-align: middle;
}

.works_detail .works-link p:last-child {
	margin-right: 0px;
}

.works_detail .works-link img {
	width:	48px;
	height: 48px;
}

.works_detail_img {
	margin: 72px 0;
}

.works_detail_img .col {
	padding: 1px;
}

.works_detail_comment {
	margin: 72px 24px;
	color: #555;
}

.works_detail_comment p {
	text-indent:1em;
}

.works_detail_index {
	margin: 72px 0 144px;
	text-align: center;
}